body {
    background-color: lightgray;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card-list{
    border-bottom: grey;
    margin: 0;
    padding: 0;
    font-size: x-large;
}

.card-list input {
    border: none;
    width: 50vh;
}

.list-item  {
    box-shadow: 10px 5px 5px grey;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding-left: 1rem;
    border-bottom: 1px solid lightgray;
}

#items-left {
    font-size: small;
}
